*.prefs
*~
*swp
.buildpath
.sass-cache
.idea
node_modules
.bin
public/imgupload/
ZZZZ
._.DS_Store
.DS_Store
.sass-cacheg
.project
.settings
docs/.*.m
**/xcuserdata
**/PHPUnit_Extensions_Story_TestCase.php
.settings/*
.docker
.idea
challengePic
public/application.log
public/error.log
public/operating_cms/god/npm-debug.log



